export HIGHRISE_HOST='https://sample.highrisehq.com'
export HIGHRISE_USER='d682744e2a92736fa6389664afb63f97'
export ZENDESK_URL='https://sample.zendesk.com'
export ZENDESK_USER='user@domain.com'
export ZENDESK_PASS='d8F&pnzwRHGaKjb'
export ZENDESK_VIEW=123456
export ZENDESK_CONTEXT='Mac'
export GITHUB_TOKEN=d41d8cd98f00b204e9800998ecf8427e
export TRELLO_DEVELOPER_PUBLIC_KEY=58238c772da10bd38662dd89cecb7e62
export TRELLO_MEMBER_TOKEN=d7bee19a424b9c5b72a7ffe017122074
