export HIGHRISE_HOST='https://sample.highrisehq.com'
export HIGHRISE_USER='d682744e2a92736fa6389664afb63f97'
export ZENDESK_URL='https://sample.zendesk.com'
export ZENDESK_USER='user@domain.com'
export ZENDESK_PASS='d8F&pnzwRHGaKjb'
export ZENDESK_VIEW=123456